
<div class="col-md-4">
	<h3>Libs:</h3>
		<a href="http://fontawesome.io/icons/" target="_blank">
			font-awesome
		</a>
		<br>
		<a href="http://ionicons.com/" target="_blank">
			ionicons
		</a>
		<br>
		<a href="https://almsaeedstudio.com/preview" target="_blank">
			AdminLTE css
		</a>
		<br>
		<a href="https://almsaeedstudio.com/preview" target="_blank">
			AdminLTE skins _all-skins
		</a>
</div>

<div class="col-md-4">
	<h3>Plugins:</h3>
		<a href="http://icheck.fronteed.com/" target="_blank">
			iCheck flat blue
		</a>
		<br>
		<a href="http://morrisjs.github.io/morris.js/" target="_blank">
			morris chart
		</a>
		<br>
		<a href="http://jvectormap.com/" target="_blank">
			jquery-jvectormap
		</a>
		<br>
		<a href="https://bootstrap-datepicker.readthedocs.io/en/latest/options.html#quick-reference" target="_blank">
			datepicker3 css
		</a>
		<br>
		<a href="http://www.daterangepicker.com/" target="_blank">
			daterangepicker-bs3 css
		</a>
		<br>
		<a href="http://waxolunist.github.io/bootstrap3-wysihtml5-bower/" target="_blank">
			bootstrap3-wysihtml5 css
		</a>
		<br>
		<a href="https://github.com/gwatts/jquery.sparkline" target="_blank">
			jquery sparkline
		</a>
		<br>
		<a href="http://anthonyterrien.com/demo/knob/" target="_blank">
			jquery knob
		</a>
</div>

<div class="col-md-4">
	<h3>Packages:</h3>
		<a href="https://jquery.com/" target="_blank">
			jquery.js
		</a>
		<br>
		<a href="https://angularjs.org/" target="_blank">
			angular.js
		</a>
		<br>
		<a href="http://getbootstrap.com/components/" target="_blank">
			bootstrap.js
		</a>
		<br>
		<a href="https://angularjs.org/" target="_blank">
			angular-animate.js
		</a>
		<br>
		<a href="https://angularjs.org/" target="_blank">
			angular-cookies.js
		</a>
		<br>
		<a href="https://angularjs.org/" target="_blank">
			angular-resource.js
		</a>
		<br>
		<a href="https://angularjs.org/" target="_blank">
			angular-route.js
		</a>
		<br>
		<a href="https://angularjs.org/" target="_blank">
			angular-sanitize.js
		</a>
		<br>
		<a href="https://angularjs.org/" target="_blank">
			angular-touch.js
		</a>
		<br>
		<a href="https://github.com/angular-ui/ui-router" target="_blank">
			angular-ui-router.js
		</a>
		<br>
		<a href="http://beletsky.net/ng-notifications-bar/" target="_blank">
			ngNotificationsBar.min.js
		</a>
		<br>
		<a href="https://github.com/helloilya/angular-promise-loader" target="_blank">
			loader.min.js
		</a>
</div>
